ion-content {
    --background: url(../../../assets/bg-01.jpg) 0 0/100% 100% no-repeat;
}

.home {

    scroll-content {
        display: flex;
        flex-direction: column;
    }

    ion-grid {
        padding: 0;
        height: 100%;
    }

    ion-row {
        flex: 1;
    }

    ion-col {
        flex: 1;
    }

    

}

.flex-container {
    display: flex;
  }
.label-direction {
  margin:auto;
}

  .one {
    flex: 1;
  }

  .two {
    flex: 1;
  }

  .three {
    flex: 1;
  }

  .container-login100 {
    width: 100%;  
    min-height: 100vh;
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    flex:1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    padding: 15px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background: #fff;
  }

  .danger_btn {
    background-color: red;
  }

